[submodule "libs/bevy"]
	path = libs/bevy
	url = git@github.com:bevyengine/bevy.git
[submodule "libs/bevy_egui"]
	path = libs/bevy_egui
	url = git@github.com:Svengali/bevy_egui.git
[submodule "libs/rust-crdt"]
	path = libs/rust-crdt
	url = git@github.com:Svengali/rust-crdt.git
